.cart-container {
  padding: 20px;
}

.cart-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 1px solid #a39f9f;
  border-radius: 8px;
}

.cart-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.cart-details, .cart-actions, .item-total {
  display: flex;
  flex-direction: column;
}

.cart-details p, .item-total p {
  margin: 0;
  padding: 5px 0;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-actions button {
  margin: 0 5px;
  padding: 5px;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  justify-self: end;
  transform: translate(0, -10px);
}

.remove-btn:hover {
  background-color: darkred;
}

.item-total {
  justify-self: end;
}

.checkoutButton {
  margin-top: 0px;
}