p {
    padding: 0px;
    margin: 0px;
}

img {
    height: 60vh;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.productCard {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productName {
    font-weight: bold;
}